{% extends "base.html" %}
{% block content %}
<div class="image">
    <div class="title" style="margin: 150px 0 0 0;">
        <h1 class="heading white">Fine Arts-> Post Holder</h1>
    </div>
    <div class="main_container">
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1609086909/Profile/WhatsApp_Image_2020-12-27_at_16.04.33_w8pjjq_acpdur.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Dr. Shilpi Bisht</h1>
                        <h4>Teacher Incharge</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1609085932/Profile/WhatsApp_Image_2020-12-26_at_08.29.45_mr62ig_ikx00r.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Apoorv Joshi</h1>
                        <h4>Secretary</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1609164246/Profile/IMG-20201220-WA0244_-_Vidushi_Agarwal_mwjlev.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Vidhushi Agarwal</h1>
                        <h4>Secretary</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1609086782/Profile/WhatsApp_Image_2020-12-27_at_22.00.38_smuryj.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Anuva Negi</h1>
                        <h4>Vice-Secretary</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1608978378/Profile/WhatsApp_Image_2020-12-24_at_10.31.10_xhuhzf.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Harshit Pathak</h1>
                        <h4>Vice-Secretary</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1609257072/Profile/InShot_20201019_183516969_1_-_sanjeevani_bhandari_j8i89t.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Sanjeevni Bhandari</h1>
                        <h4>Vice-Secretary</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="contact" class="contact">
        <div class="heading">
            <a href="{{url_for('team')}}"><h2>Meet the Developers</h2></a>
        </div>
    </section>
</div>
{% endblock %}